pandas
numpy
tweet-preprocessor
requests
beautifulsoup4
google-play-scraper
Sastrawi
tensorflow
transformers
keras-tuner
torch
nltk
wordcloud
openai
gensim
scikit-learn
mlxtend
imbalanced-learn
matplotlib
